$theme-color: #2B2B2B
$lighter-theme-color: rgba(47, 52, 47, 1)
$line-color: rgba(38, 38, 38, 1)
$delimitator: 200px

=text-color($alpha)
  color: rgba(210, 210, 210, $alpha)

body
  font-family: "Helvetica Neue", sans-serif
  margin: 0
  width: 100%
  height: 100vh
  background-color: $theme-color

#function-bar, footer
  width: 100%
  height: 24px
  position: fixed
  background-color: $theme-color
  ul
    list-style: none
    padding-left: 0
    margin: 0
    li
      font-size: 14px
      display: inline-block
      height: 24px
      padding: 3px 0
      padding-left: 17px
      +text-color(0.8)
      &:first-child
        padding-left: 10px
      &:last-child
        padding-right: 10px

#function-bar
  top: 0
  border-bottom: 2px solid $line-color

main
  position: fixed
  top: 26px
  bottom: 26px
  left: 0
  right: 0
  background-color: $lighter-theme-color
  #documents
    position: absolute
    top: 0
    left: $delimitator
    right: 0
    bottom: 0
    .CodeMirror, .CodeMirror-scroll
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
    .CodeMirror
      font-size: 16px
      top: 50px
      height: inherit
      border-left: 2px solid $line-color
      border-top: 2px solid $line-color
      z-index: 0
    .tabs
      display: flex
      flex-direction: row
      flex-wrap: nowrap
      overflow-x: scroll
      overflow-y: hidden
      &::-webkit-scrollbar
        display: none
      height: 45px
      position: relative
      top: 7px
      z-index: 10
      .tab
        height: inherit
        padding-left: 20px
        padding-right: 20px
        min-width: 130px
        border-radius: 3px 3px 0 0
        display: flex
        justify-content: center
        align-items: center
        +text-color(0.5)
        &:hover > .fa-times
          visibility: visible
        .fa-times
          position: relative
          right: -20px
          visibility: hidden
          padding: 1px 3px
          border-radius: 2px
          &:hover
            background-color: deepskyblue
            color: black
      .active-tab
        background-color: $theme-color
        +text-color(0.8)
        border: 2px solid $line-color
        border-left: 3px solid deepskyblue
        border-bottom: none
  #file-tree
    font-size: 14px
    +text-color(0.8)
    position: absolute
    top: 0
    left: 0
    bottom: 0
    width: $delimitator
    .tree
      padding-top: 5px
    .tree, ul
      padding-left: 15px
      list-style: none
    ul
      padding-left: 22px
      margin-top: 7px
      li
        margin-top: 5px
      i
        margin-right: 7px

footer
  display: flex
  justify-content: space-between
  bottom: 0
  border-top: 2px solid $line-color
  .left-footer, .right-footer
    height: inherit


.centerVaH
  display: flex
  justify-content: center
  align-items: center
