#menu {

}

#footer-pane, #menu {
    -fx-background-color: #09cdda;
}

.buttons {
    -fx-padding: 0.3em 0.4em;
    -fx-font-size: 12px;
    -fx-background-color: #09cdda;/*rgb(77,102,204);*/
    -fx-min-width: 50px;
    -fx-text-fill: WHITE;
}

.split-pane, .tree-view {
    -fx-background-color: antiquewhite;
}